/*****   le notre *******/
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
header{
  background-color: rgb(241, 10, 10);
  color: white;
  padding: 30px 0 10px 20px;
}
.container {
  /* background-color: black; */
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* height: 100vh; */
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  /* padding: 8px; */
}
.divImg {
  width: 80%;
}
.pokemon img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  /* max-height: 170px; */
  border-radius: 15px;
  margin-bottom: 10px;
}

.pokemon {
  text-align: center;
  display: flex;
  gap:10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
  width:45%;
  height: 150px;
  max-width: 550px;
  /* max-height: 280px; */
  border-radius: 15px;
  border: 1px solid red;
  margin: 5px 5px;

}

/******************* 2e hTML DETAIL Pokemon ************************/

#body-pokemon-detail{
  background-color: black;

}

.header-detail{
  height: 80%;
  padding: 25px 10px;
  background-color: green;
  border-radius: 0px 0px 35px 35px;
  text-align: center;
}
#btn-detail{
  color: white;
  border: none;
  background-color: green;
  font-size: 1.3rem;
}
span{
  font-size: 1.3rem;
}
.header-up{
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.main-detail{
  height: 100%;
}

.div-type{
  width: 75%;
  margin: auto;
  display: flex;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: space-between;
}

.type-detail-pokemon{
  border-radius: 15px;
  background-color: green;
  text-align: center;
  width: 40%;
  display: inline-block;
  padding: 5px;

}

#titre-pokemon{
  font-size: 1.6rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  margin: 20px 0px;
}

.div-detail-kg-m{
  width:65%;
  margin: auto;
  display: flex;
  color: white;
  letter-spacing: 1px;
  justify-content: space-between;
  margin-top: 25px;
}
p{
  font-weight: lighter;
  color: grey;
  margin-top: 10px;
  font-size: 0.8rem;
}
.kg-m-pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/** les progresses bar**/
#baseStats{
  margin-top: 25px;
  max-width: 800px;
  margin: auto;
}
.progressDiv{
  background-color: #fff;
  border-radius: 20px;
  width: 85%;
  height: 25px;

}
.progressValue{
  background-color: red;
  border-radius: 20px;

  height: 25px;
  position: relative;
}
.divStat{
    margin: auto;
    margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 90%;

}

#progressValueHP{

  background-color: red;
  width: 60%;

}


#progressValueATK{

  background-color: orange;
  width: 70%;

}
#progressValueDEF{

  background-color: blue;
  width: 20%;
}
#progressValueSPD{

  background-color: gray;
  width: 60%;

}
#progressValueEXP{

  background-color: green;
  width: 30%;
}

.progressDiv span{

  color: white;
  text-align: right;
  font-size: 0.9rem;
  position: absolute;
  right: 10px;
  margin: 5px 0 5px 10px;
}

h6{
  color: gray;
  font-size: 1rem;
}
h2{
  color: white;

  text-align: center;

}